<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success - Feb demo emails</title>
    {% include 'cssLinks.html' %}
  </head>
  <body>
    <div class="container">

      <h1>Success</h1>
      {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="goodemail"> {{message}} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}



      {% for e in emails %}

      <p>
      {{e.email}}, {{e.created_at}}, {{e.id}}
      </p>
      <a href="/details/{{e.id}}">View details</a>

      {% endfor %}
    </div>
  </body>
</html>
